body {  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkorange; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 300px;  
}

.main {
  padding: 30px;
}

.nav {
  padding: 1rem;
  /* flex-direction: column; */
  background-color: #343a40!important;
  /* float: left; */
  /* width: 40%; */
  flex: 1 1 auto;
  /* list-style-type: square; */
  /* list-style-position: inside; */
  font-size: small;
}

.nav .navitem {
  color: darkgrey;
  padding: 10px;
}

.nav .navitem:hover {
  color: lightgreen;  
  cursor: pointer;
}

.nav .navitem:active {
  color: lightcoral;  
  cursor: pointer;
}

.cpq .two {
  display: flex;
  flex-direction: column;
  padding:0 30px;
}

.simpleFilter {
  margin: 10px;
  padding: 10px;
  background-color: lightgoldenrodyellow;
  border-radius: 20px;
  font-size: small;
}

.imageFilter img {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.hVkHVd {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 12px;
    /* overflow: scroll hidden; */
    white-space: nowrap;
}

.jrBJkR {
    display: inline-block;
    margin-right: 12px;
}

.fGsDCa {
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 49%, rgb(242, 245, 248) 50%, rgb(255, 255, 255) 100%);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;
    color: rgb(45, 45, 45);
    display: flex;
    height: 85px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    min-width: 155px;
    font-weight: bold;
}

.fGsDCa:hover {
    color: darkorange;
    font-weight: bold;
    text-decoration: none;   
}

.bzycIR {
    -webkit-box-align: center;
    align-items: flex-end;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-self: stretch;
    padding-right: 24px;
}

.cLYoMh {
    display: flex;
    margin: 0px;
    width: calc(100% + 0px);
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.cLYoMh > .sc-eCssSg {
    padding: 0px;
    text-align: center;
}

a[data-tag-id] *, button[data-tag-id] * {
    pointer-events: none;
}

.gZpLoH {
    flex: 0 0 auto;
    max-width: 100%;
    box-sizing: border-box;
}

.bbSFQP {
    position: absolute;
    top: -12.5%;
    left: 0px;
    clip: rect(auto, auto, auto, 0px);
    max-height: 75px;
}

.hSjabX {
    font-size: 14px;
}

.eZyFyz {
    flex: 1 0 0px;
    box-sizing: border-box;
    max-width: 100%;
    -webkit-box-flex: 1;
}

.efNMOi {
    display: inline-block;
    vertical-align: top;
    margin: 4px;
}

.chrFRZ {
    display: flex;
}

.eMxuRR > div {
    border-radius: 25px;
    box-sizing: border-box;
    height: 52px;
    border: 2px solid transparent;
}

.bZTdUO > div {
    border-radius: 12px;
    width: auto;
}

.gipNwn {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    width: 100%;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;
}

.hUivny {
    background: none;
    cursor: pointer;
    border: none;
    margin: 0px;
    padding: 0px;
    text-align: left;
    width: 100%;
}

.rBbCe {
    padding: 12px;
}

.kwGitQ {
    width: 100% !important;
}

.fgIxQX {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    width: calc(100% + 0px);
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
}

.fgIxQX > .sc-eCssSg {
    padding: 0px;
}

.eNBsor {
    flex: 0 0 auto;
    box-sizing: border-box;
    max-width: 100%;
    -webkit-box-flex: 0;
}

.kDUSOx.kDUSOx {
    font-size: 14px;
}

.kDUSOx {
    padding-left: 12px;
    display: inline;
}

.lkNfMx {
    font-family: LeasePlan, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    color: rgb(0, 74, 93);
    letter-spacing: -0.01em;
    line-height: 1.4;
    font-size: 15px;
    margin: 0px 0px 0.5em;
    padding: 0px;
}

.jnSJyT {
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 4px;
}

.car-list{
    display: inline-flex;
    justify-content: flex-start;
    padding: 12px;
    /* overflow: scroll hidden; */
    white-space: nowrap;
}

.car-list.car-list-teasers .car-list-item {
    position: relative;
    clear: none;
    float: left;
    cursor: pointer;
    width: 100%; 
    margin: 10px;   
}

.car-list.car-list-teasers .car-list-item-top {
    position: relative;
    width: 100%;
    min-height: 50px;
    background-color: #fff;
}

.car-list.car-list-teasers .car-list-item-bottom {
    padding: 10px;
    height: 60px;
    overflow: hidden;
    background-color: #525252;
    position: relative;
}

.car-list.car-list-teasers .car-list-item .car-list-item-details.mobile {
    margin: 0;
    padding-top: 40px;
}

.car-list.car-list-teasers .car-list-item.details-open:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    width: 0;
    height: 0;
    border-top: solid 20px #525252;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
    display: none;
}

.car-list.car-list-teasers .car-list-item-image img {
    display: block;
    max-width: 100%;
    width: 100%;
    /* max-height: 190px; */
    height: 130px;
    margin: auto;
}

.car-list.car-list-teasers .car-list-item-price {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px 8px;
    color: #fff;
    font-weight: bold;
    line-height: 14px;
    background-color: #f5821e;
}

/* .car-list.car-list-teasers .car-list-item-price {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px 8px;
    color: #fff;
    font-weight: bold;
    line-height: 14px;
    background-color: #f5821e;
} */

.car-list.car-list-teasers .car-list-item-price div>span {
    font-weight: normal;
}

.car-list-3-wide.car-list-overview .car-list-item.car-list-item-last-in-row {
    float: right;
    margin-right: 0;
}

.car-list.car-list-teasers .car-list-item-details {
    float: left;
    width: 100%;
    margin: 20px 0;
    display: none;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.car-list.car-list-teasers .car-list-item-bottom .car-list-item-name h3 {
    line-height: normal;
    font-size: 16px !important;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Meta","Arial","Helvetica","sans-serif";
}

.car-list.car-list-teasers .car-list-item-name h3 {
    margin: 0;
    color: #fff;
}

.car-list.car-list-teasers .car-list-item-bottom .car-list-item-detail-vehicles .car-list-item-detail-vehicles-less {
    display: none;
    background: none;
    padding-right: 15px;
}

.car-list.car-list-teasers .car-list-item-bottom .car-list-item-detail-vehicles .car-list-item-detail-vehicles-more {   
    /* text-align: right; */
    color: lightgray;
    /* padding: 0 0 5px 0; */
    position: absolute;
    bottom: 2px;
    right: 2px;
}
