body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

div#root{
  margin:0;  
}

div#root div {
    width: 100%;
}

div#root div ul:first-child{
  float:left;
  width:70%;
  color: #000;
  font-weight: bold;
}

div#root div ul ul li {
  cursor: pointer;
  font-weight: bold;
  color: orange;
}

div#root div ul ul li:hover {
  font-weight: bold;
  cursor: pointer;
  color: #000;
}

div#root div div.cpq{
  float:left;
  width:30%;
} 