body {  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkorange; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 300px;  
}

.main {
  padding: 30px;
}

.nav {
  padding: 1rem;
  flex-direction: column;
  background-color: #343a40!important;
  float: left;
  width: 50%;
  flex: 1 1 auto;
  list-style-type: square;
  list-style-position: inside;
}

.nav .navitem {
  color: darkgrey;
  padding: 20px;
}

.nav .navitem:hover {
  color: lightgreen;  
  cursor: pointer;
}

.nav .navitem:active {
  color: lightcoral;  
  cursor: pointer;
}

.cpq {
  display: flex;
  flex-direction: column;
  padding:0 30px;
}

.simpleFilter {
  margin: 10px;
  padding: 10px;
  background-color: lightgoldenrodyellow;
  width: 100%;
}

.gearboxFilter {
  margin: 10px;
  padding: 10px;
  background-color: lightpink;
  width: 100%;
}

.gearboxFilterContainer p {
    padding: 10px 3px 1px 10px;
    margin: 0;
}


